h2 A comparison of in-place sorting algorithms right in your browser

h4
    p.inline Inspied by &nbsp;
    a(src="http://www.sorting-algorithms.com/") www.sorting-algorithms.com

div.center
    button(ng-click="sortAll()") Sort all

#sorting
