@import '../_vars';

.playground-curve-fitting-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .curve-canvas-wrapper {
    width: 0;
    height: 0;
    transition: @curve-fitting-canvas-transition;
  }
}
