@import '../colors.scss';

@import './components/arc_info.scss';
@import './components/graph_canvas.scss';
@import './components/graph_legend.scss';

.playground-graphs-page {
  height: 100%;

  .graphs-subtitle {
    margin-bottom: 1.5em;
  }

  .graph-split-container {
    display: flex;

    .graph-canvas-container {
      flex: 4;
    }
  }
}
