@import '../_colors.less';

.playground-graphs-page {
  height: 100%;

  .graphs-subtitle {
    margin-bottom: 1.5em;
  }

  .graph-split-container {
    display: flex;

    .graph-canvas-container {
      flex: 4;
    }
  }
}
