@import '../colors.sass'

@import './components/arc_info.sass'
@import './components/graph_canvas.sass'
@import './components/graph_legend.sass'

.playground-graphs-page
  height: 100%

  .graphs-subtitle
    margin-bottom: 1.5em

  .graph-split-container
    display: flex

    .graph-canvas-container
      flex: 4
