@import '../_colors.less';

@import './components/arc_info.less';
@import './components/graph_canvas.less';
@import './components/graph_legend.less';

.playground-graphs-page {
  height: 100%;

  .graphs-subtitle {
    margin-bottom: 1.5em;
  }

  .graph-split-container {
    display: flex;

    .graph-canvas-container {
      flex: 4;
    }
  }
}
