@import '../colors.sass'

@import './components/graph_details.sass'
@import './components/graph_canvas.sass'
@import './components/algorithm_dropdown.sass'

.playground-graphs-page
  height: 100%

  .graphs-subtitle
    margin-bottom: 1.5em

  .graphs-error
    color: $color-danger

  .graph-split-container
    display: flex
    width: 100%
    box-sizing: border-box

    .graph-canvas
      flex-basis: 70%
      flex-shrink: 0

    .graph-details
      padding-left: 1em
