@import '../colors.sass'

@import './components/graph_details.sass'
@import './components/graph_canvas.sass'
@import './components/algorithm_dropdown.sass'

.playground-graphs-page
  height: 100%

  .graphs-subtitle
    margin-bottom: 1.5em

  .graph-split-container
    display: flex
    margin-bottom: 1.5em

    .graph-canvas
      flex: 4

    .graph-details
      flex: 1
