div.code-forex-view
    h1 FOREX

    p: b.danger Work in progress.

    :marked
        My goal is to create a practical comparison of different financial market models - various discrete models, Garman-Kohlhagen model, experimental models - by applying them to FOREX data from the [ECB](https://www.ecb.europa.eu/). This information will be available through a public JSON API [(/api/forex/predict)](/api/forex/predict), part of which has already been implemented.

        In addition, I will provide here charts for visual comparison of the different models.
