@import 'vars';

.sort-demo-sorter {
  > p {
    color: $secondary;
    margin: 5px auto;
  }
}

.sort-demo-line {
  background: $blue;
  height: 1px;
  margin: 2px;

  &.still {
    background: $danger;
  }

  &.swapped {
    background: $success;
  }

  &.ready {
    background: $success;
  }
}
