{
    "presets": ["es2015"],
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-function-bind",
        ["module-alias", [
            { "src": "./build", "expose": "build" },
            { "src": "./client", "expose": "client" },
            { "src": "./server", "expose": "server" }
        ]]
     ],
    "env": {
        "development": {
            "plugins": [
                "contracts"
            ]
        },
        "production": {
            "plugins": [
                ["contracts", { "strip": true }]
            ]
        }
    }
}
