{
    "presets": ["es2015", "stage-0"],
    "env": {
        "development": {
            "plugins": [
                "transform-inline-environment-variables",
                "transform-runtime",
                "transform-flow-strip-types",
                "syntax-flow",
                "typecheck",
                "contracts"
            ]
        },
        "production": {
            "plugins": [
                "transform-inline-environment-variables",
                "transform-runtime",
                "transform-flow-strip-types",
                "syntax-flow",
                ["contracts", { "strip": true }]
            ]
        }
    }
}
