parser: babel-eslint
extends: google
rules:
    indent: [1, 4]
    curly: [1, multi, consistent]
    func-names: 0
    one-var: 0
    max-len: [1, 100, 4, { ignoreComments: true, ignoreUrls: true }]
    complexity: [1, 10]
    object-curly-spacing: 0
    no-extend-native: 0
    guard-for-in: 0
    require-jsdoc: [0]
    no-var: 1
    no-inline-comments: 0
plugins:
    - filenames
env:
    browser: true
