parser: babel-eslint

extends:
    - eslint:recommended

plugins:
    - filenames
    - react

env:
    node: true

rules:
    semi: [2, always]
    no-unused-vars: [2, { vars: "all", args: "all", argsIgnorePattern: "^_" }]
