parser: babel-eslint

extends:
    - eslint:recommended

env:
    node: true
    es6: true

rules:
    semi: [2, always]
    no-unused-vars: [2, { vars: "all", args: "all", argsIgnorePattern: "^_" }]
