@import 'vars';

.navbar-category-button {
  align-content: center;
  display: flex;

  &.active {
    background-color: $nav-button-active;
  }
}

.navbar-category-icon {
  flex-basis: 30px;
}

.navbar-category-text {
  flex: 1;
}
