@import 'vars';

.navbar {
  transition: margin-left $anim-duration;
  background-color: $nav-background;
  width: $navbar-width;
  direction: rtl;
  overflow-y: auto;
  flex-shrink: 0;

  &.navbar-hidden {
    margin-left: -$navbar-width;

    .fa {
      color: $lightgray;
    }
  }
}

.navbar-contents {
  direction: ltr;
}

.navbar-icon {
  font-size: 20px;

  > .fa {
    transition: $anim-duration;
  }
}

.navbar-hide-icon {
  left: 6px;
  top: 3px;

  color: $white;
  position: absolute;
  cursor: pointer;
}

.navbar-button {
  padding-left: 5px;
  padding-right: 5px;

  lay: block;
  overflow: hidden;

  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  width: 100%;
}
