@import 'vars';

.navbar-sub-category-button {
  background-color: $nav-subbutton;
  padding-right: 2em;
  padding-left: 2em;
  transition: color $anim-duration;
  display: block;

  &.active {
    color: $nav-subbutton-active;
  }

  &:hover {
    color: $nav-subbutton-hover;
  }
}
