@mixin reduced-motion-durations {
  --body-duration-transition: 0;
  --loading-duration-cycle: 0;
}

@mixin common-duration-variables {
  --body-duration-transition:  250ms;
  --dialog-duration-open:      var(--body-duration-transition);
  --loading-duration-cycle:    1000ms;
}
