@mixin reduced-motion-durations {
  --body-duration-transition: 0;
  --loading-duration-cycle: 0;
}

@mixin normal-motion-durations {
  --body-duration-transition: 250ms;
  --loading-duration-cycle: 1000ms;
}

@mixin common-duration-variables {
  --sidebar-duration-collapse: var(--body-duration-transition);
  --icon-duration-transition: var(--body-duration-transition);
}
