@import '_vars.less';

.no-focus-outline() {
  &:focus {
    outline: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.button() {
  .no-focus-outline();

  cursor: pointer;
  padding: 0.75em 1.25em;
  border: 0;

  color: @button-color-foreground;
  fill: @button-color-foreground;
  background-color: @button-color-background;
  transition: @button-transition;

  &:hover {
    color: @button-color-hover;
    fill: @button-color-hover;
  }

  &.active {
    color: @button-color-background;
    fill: @button-color-background;
    background-color: @button-color-foreground;

    &:hover {
      background-color: @button-color-hover;
    }
  }

  &[disabled] {
    color: @button-color-foreground-disabled;
    fill: @button-color-foreground-disabled;
    cursor: not-allowed;
  }
}

.anchor() {
  .no-focus-outline();

  color: @anchor-color-foreground;
  fill: @anchor-color-foreground;

  &:hover,
  &:active,
  &:visited {
    color: @anchor-color-foreground;
    fill: @anchor-color-foreground;
  }
}
