@import '_time.less';
@import '_colors.less';

.no-focus-outline() {
  &:focus {
    outline: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.button() {
  .no-focus-outline();

  cursor: pointer;
  padding: 0.75em 1.25em;
  border: 0;

  color: @color-background;
  fill: @color-background;
  background-color: @color-foreground;
  transition: @transition-button;

  &:hover {
    color: @color-midground;
    fill: @color-midground;
  }

  &.active {
    color: @color-foreground;
    fill: @color-foreground;
    background-color: @color-background;

    &:hover {
      background-color: @color-midground;
    }
  }

  &[disabled] {
    color: @color-dark;
    fill: @color-dark;
    cursor: not-allowed;
  }
}

.anchor() {
  .no-focus-outline();

  color: @color-accent-saturated;
  fill: @color-accent-saturated;

  &:hover,
  &:active,
  &:visited {
    color: @color-accent-saturated;
    fill: @color-accent-saturated;
  }
}

.zindex(@value) {
  z-index: @value;

  // Make the z-index work on webkit
  -webkit-transform: translate3d(0, 0, 0);
}
