@mixin foreground-color($color) {
  --icon-color: #{$color};

  color: #{$color};
}

@mixin background-color($color) {
  background-color: #{$color};
}

@mixin anchor-colors($color) {
  --anchor-color-normal:   #{$color};
  --anchor-color-accented: color-mix(in srgb, var(--anchor-color-normal), var(--body-color-foreground) 10%);
  --anchor-color-disabled: var(--body-color-disabled);
}

@mixin control-label-colors($color) {
  --control-color-label-normal:   #{$color};
  --control-color-label-accented: color-mix(in srgb, var(--anchor-color-normal), var(--body-color-foreground) 10%);
  --control-color-label-active:   var(--control-color-label-normal);
  --control-color-label-disabled: var(--body-color-disabled);
}

@mixin button-background-colors($color) {
  --button-color-background-normal:   #{$color};
  --button-color-background-disabled: var(--body-color-disabled);
  --button-color-background-accented: color-mix(in srgb, #{$color}, var(--body-color-foreground) 10%);
}

@mixin button-foreground-colors($color) {
  --button-color-foreground-normal:   #{$color};
  --button-color-foreground-accented: #{$color};
  --button-color-foreground-disabled: color-mix(in srgb, #{$color}, var(--body-color-disabled) 25%);
}

@mixin notice-padding($base) {
  --notice-size-hpadding: calc(#{$base} - var(--notice-size-indicator-width));
  --notice-size-vpadding: 0.3em;
}

@mixin notice-colors($color) {
  --notice-color-indicator: #{$color};
  --notice-color-background: color-mix(in srgb, var(--body-color-background), var(--notice-color-indicator) 10%);
}

@mixin inline-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
