/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable order/order */
@use 'sass:math';
@use "./mixins";

// Main sizes
$root-size-max-content-width:         850px;
$root-size-sidebar-wide-min-width:    235px; // This minimal width should also be maximal for Helvetica-compatible fonts
$root-size-sidebar-compact-extent:    50px;
$root-size-sidebar-gap:               $root-size-sidebar-compact-extent;
$root-size-boundary-collapsed-width:  $root-size-max-content-width + $root-size-sidebar-wide-min-width + 2 * $root-size-sidebar-gap;
$root-size-boundary-collapsed-height: 450px;
$root-size-boundary-dense-width:      600px;
$root-size-boundary-dense-height:     $root-size-boundary-collapsed-height;
$root-size-boundary-very-dense-width: 400px;

// Base typography
$root-size-base-font: 15px;
$root-size-base-line: 1.7;

// Main container sparse padding
$main-size-hpadding-sparse: $root-size-sidebar-gap;
$main-size-vpadding-sparse: 20px;

// Main container dense padding
$main-size-hpadding-dense: 30px;
$main-size-hpadding-very-dense: 20px;
$main-size-vpadding-dense: 15px;

// Main menu
$main-menu-size-button-vpadding: 0.8em;
$main-menu-size-button-gap: 1.5em;

// Icons
$icon-size-diameter-huge-loose: 15em;
$icon-size-diameter-huge-dense: 10em;
$icon-size-padding-huge-loose: 1em;
$icon-size-padding-huge-dense: 0.8em;

@mixin common-size-variables {
  // Base sizes
  --body-size-font:          1rem;
  --body-size-border-radius: 3px;

  --body-size-border-thin:    1px;
  --body-size-border-normal:  2px;
  --body-size-border-thick:   3px;

  // Sizes based on musical dynamics
  --body-size-ppp: 0.1em;
  --body-size-pp:  0.25em;
  --body-size-p:   0.5em;
  --body-size-mp:  0.75em;
  --body-size-mf:  1em;
  --body-size-f:   1.5em;
  --body-size-ff:  2.5em;
  --body-size-fff: 4em;

  // Main
  --main-size-hpadding: #{$main-size-hpadding-sparse};
  --main-size-vpadding: #{$main-size-vpadding-sparse};

  // Spotlight
  --spotlight-size-head-max-width: 750px;
  --spotlight-size-divider: 2px;
  --spotlight-size-border-radius: var(--body-size-border-radius);
  --spotlight-size-shadow-radius: 5px;
  --spotlight-size-drawer-width: 200px;

  // Dialogs
  --dialog-size-shadow-radius: 5px;

  // Buttons
  --button-size-font: var(--body-size-font);
  --button-size-hpadding: 1.3em;
  --button-size-vpadding: 0.3em;
  --button-size-outline-offset: -2px;
  --button-size-icon-diameter: 1.3em;
  --button-size-gap: 1.2em;
  --button-size-width: auto;
  --button-size-border-radius: var(--body-size-border-radius);

  // Anchor
  --anchor-size-icon-diameter: 1em;
  --anchor-size-gap: 0.8em;

  // Controls
  --control-size-label-hpadding: var(--button-size-hpadding);
  --control-size-label-vpadding: var(--button-size-vpadding);
  --control-size-gap: var(--body-size-mp);
  --control-size-width: auto;

  // Fields
  --field-size-border-radius: var(--body-size-border-radius);
  --field-size-border:        var(--body-size-border-normal);
  --field-size-hpadding: 1em;
  --field-size-vpadding: 0.4em;

  // Menus
  --menu-group-size-border-radius: var(--body-size-border-radius);
  --menu-group-size-divider: 2px;
  --menu-group-size-border: 2px;

  // Icons
  --icon-size-diameter: 1.4ex;
  --icon-size-hpadding: 0.1em;
  --icon-size-vpadding: 0.1em;

  // Lists
  --list-item-padding-left:       1.75em;
  --dlist-size-indicator-width:   var(--body-size-border-thick);
  --dlist-size-font-heading:      var(--heading-h4-size-font);
  --dlist-size-item-margin-left:  var(--body-size-mf);
  --dlist-size-item-padding-left: var(--body-size-mf);
  --dlist-size-item-gap-large:    var(--body-size-mp);
  --dlist-size-item-gap-small:    var(--body-size-pp);

  // Notices
  @include mixins.notice-padding(var(--field-size-hpadding));
  --notice-size-indicator-width: var(--body-size-border-thick);

  // Tables
  --table-size-border: var(--body-size-border-thin);

  // Dividers
  --divider-size-border-radius: var(--body-size-border-radius);
  --divider-size-margin: 0.5em;
  --divider-size: 0.25em;

  // Typography
  --heading-h1-size-font: 3rem;
  --heading-h2-size-font: 2.3rem;
  --heading-h3-size-font: 1.5rem;
  --heading-h4-size-font: 1.1rem;
  --heading-h5-size-font: 1rem;
  --heading-h6-size-font: 0.8rem;

  --heading-h1-size-line: 1.5;
  --heading-h2-size-line: 1.3;
  --heading-h3-size-line: 1.3;
  --heading-h4-size-line: 1.2;
  --heading-h5-size-line: 1.1;
  --heading-h6-size-line: 1;

  @for $i from 1 through 6 {
    --heading-h#{$i}-size-margin-top: 0;
  }

  --heading-h1-size-margin-bottom: 0.25em;
  --heading-h2-size-margin-bottom: 0.4em;
  --heading-h3-size-margin-bottom: 0.5em;

  @for $i from 4 through 6 {
    --heading-h#{$i}-size-margin-bottom: 1em;
  }
}

@mixin dense-size-variables {
  --main-size-hpadding: #{$main-size-hpadding-dense};
  --main-size-vpadding: #{$main-size-vpadding-dense};
  --heading-h1-size-font: 2.5rem;
  --heading-h2-size-font: 1.8rem;
  --heading-h3-size-font: 1.3rem;
  --field-size-hpadding: 1.1em;

  @include mixins.notice-padding(var(--field-size-hpadding));
}

@mixin very-dense-size-variables {
  --main-size-hpadding: #{$main-size-hpadding-very-dense};
}
