$main-base-width: 20rem
$main-hpadding-desktop: 3rem
$main-hpadding-mobile: 1.75rem
$main-vpadding-desktop: 1.5rem
$main-vpadding-mobile: 0.5rem

$sidebar-width: 14rem
$sidebar-padding: 0.5rem

$mobile-width: 550px
$border-width: 1px
