$white:                #ffffff;
$black:                #000000;

$gray:                 #888888;
$darkgray:             #202020;
$lightgray:            #f0f0f0;

$blue:                 #0fa0ce;
$darkblue:             #014156;
$lightblue:            lighten($blue, 15%);

$success:              #228b22;
$danger:               #cc0000;

$primary:              $lightgray;
$secondary:            $gray;
$background:           $black;
$codebox:              $darkgray;
$disabled:             #404040;
$link:                 $blue;
$link-hover:           $lightblue;
$error-icon:           #ffff66;
$table-border:         #888888;
$button-color:         #bbbbbb;
$button-hover:         $gray;
$input-border:         #bbbbbb;
$highlight:            $lightblue;

$nav-toggle-bg:        $lightblue;
$nav-toggle-bg-hover:  lighten($blue, 5%);
$nav-background:       $darkgray;
$nav-button-active:    $darkblue;
$nav-subbutton:        #303030;
$nav-subbutton-active: $lightblue;
$nav-subbutton-hover:  $lightblue;

$viewport-background: $darkgray;
$viewport-stage:      $disabled;

$radio-active:        $lightblue;

$sorting-demo-container: $darkgray;
$sorting-demo-title:     $lightgray;
$sorting-sorter-line:    $blue;
$sorting-sorter-still:   $danger;
$sorting-sorter-swapped: $success;

$anim-duration:        250ms;


$tablet-width:         800px;
$navbar-width:         200px;
$button-height:        38px;
$view-padding-base:    40px;
$view-padding-side:    50px;
$header-line-height:   60px;
$header-line-margin:   20px;
$margin-top:           0.5rem;
$margin-bottom:        2rem;
$border-radius:        4px;


@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
