$sidebar-width: 23rem;
$sidebar-transition: 500ms;

$main-base-width: 25rem;
$main-hpadding-desktop: 5rem;
$main-hpadding-mobile: 3.5rem;
$main-vpadding-desktop: 2.5rem;
$main-vpadding-mobile: 2rem;

$sidebar-hpadding: 0;
$sidebar-vpadding: 1rem;

$danger: #e11;

$loading-background: transparentize(white, .3);
$loading-transition: 250ms;

$mobile-width: 550px;
