$sidebar-width: 250px;
$sidebar-transition: 500ms;

$main-base-width: 200px;
$main-hpadding: 7.5rem;
$main-vpadding: 2.5rem;

$sidebar-hpadding: 2px;
$sidebar-vpadding: 1rem;

$danger: #e11;

$loading-background: transparentize(white, .3);
$loading-transition: 250ms;
