@sidebar-width: 14rem;
@sidebar-transition: 500ms;
@sidebar-padding: 0.5rem;

@main-base-width: 20rem;
@main-hpadding-desktop: 3rem;
@main-hpadding-mobile: 1.75rem;
@main-vpadding-desktop: 1.5rem;
@main-vpadding-mobile: 0.5rem;

@color-background: #fff;
@color-midground: #ddd;
@color-foreground: #222;
@color-accent: #5fa1cd;
@unfocused-color: #bbb;
@focused-color: #888;
@danger-color: #e11;
@success-color: #1e1;

@anchor-color-foreground: #2a92ea;
@anchor-color-disabled: #888;

@button-color-foreground: #fff;
@button-color-background: #02121f;
@button-color-foreground-disabled: #888;
@button-color-hover: #ddd;
@button-transition: 250ms;

@code-color-background: #f1f1f1;
@code-color-border: #e1e1e1;

@loading-background: fade(@color-background, 70%);
@loading-transition: 250ms;

@mobile-width: 550px;

@visualization-color-background: #eee;
@visualization-color-midground: #aaa;
@visualization-color-hovered: #849871;
@visualization-color-foreground: @color-foreground;
@visualization-color-accent: @color-accent;

@curve-fitting-point-active: #3984b7;
@curve-fitting-point-highlight: @color-accent;
@curve-fitting-legend-background: #666;

@breakout-ball: @visualization-color-foreground;
@breakout-paddle: #666;
@breakout-shadow: #ddd;

@zindex-sidebar-toggle: 1;
@zindex-sidebar: 2;
@zindex-loading-indicator: 3;
