@sidebar-width: 14rem;
@sidebar-transition: 500ms;
@sidebar-padding: 0.5rem;

@main-base-width: 20rem;
@main-hpadding-desktop: 3rem;
@main-hpadding-mobile: 1.75rem;
@main-vpadding-desktop: 1.5rem;
@main-vpadding-mobile: 0.5rem;

@color-background: #fff;
@color-foreground: #222;
@table-color-border: #bbb;
@danger-color: #e11;
@success-color: #1e1;

@anchor-color-foreground: #2a92ea;
@anchor-color-disabled: #888;

@button-color-foreground: #fff;
@button-color-background: #02121f;
@button-color-hover: #ddd;
@button-transition: 250ms;

@code-color-background: #f1f1f1;
@code-color-border: #e1e1e1;

@loading-background: fade(@color-background, 70%);
@loading-transition: 250ms;

@mobile-width: 550px;
