@sidebar-width: 14rem;
@sidebar-transition: 500ms;
@sidebar-padding: .5rem;

@main-base-width: 18rem;
@main-hpadding-desktop: 3rem;
@main-hpadding-mobile: 2.5rem;
@main-vpadding-desktop: 1.5rem;
@main-vpadding-mobile: 1rem;

@color-background: #fff;
@color-foreground: #222;
@table-color-border: #bbb;
@danger-color: #e11;
@anchor-color-foreground: #2a92ea;

@button-color-foreground: #fff;
@button-color-background: #02121f;
@button-color-hover: #ddd;
@button-transition: 250ms;

@code-color-background: #f1f1f1;
@code-color-border: #e1e1e1;

@loading-background: transparentize(@color-background, .3);
@loading-transition: 250ms;

@mobile-width: 550px;
