doctype html
html(lang="en")
    head
        include _nojs
        include _oldcheck
        include _head

        base(href="/")
        link(rel="stylesheet", href="/styles/application.css")
        script(src="/code/application.js")

        if livereload
            script(src="http://localhost:35729/livereload.js")

        title ivasilev.net
    body
        div.preload
