@import '../_vars';

.playground-sorting-page {
  .sorting-button-container {
    margin: 0 -0.5em;

    .sorting-top-button {
      width: 10em;
      margin: 0.5em;
    }
  }

  .sorting-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;

    .sorting-card {
      margin: 1em;
    }
  }
}
