// x-snap-drawer seems not to work

x-snap-drawer
    x-navigation

x-snap-content(ng-class="{extended: snapperOpen}")
    div.center(ng-show="loading || error")
        x-fa(name="spinner", spin, ng-show="loading && !error")
        div(ng-show="error")
            h1 {{error.title}}
            h2 {{error.message}}

    div(ng-hide="error")
        x-ng-transclude

x-fa(name="chevron-circle-right", ng-hide="snapperOpen", snap-toggle="left")
