doctype html
html
    head
        include ../_oldcheck
        include ../_head
        base(href="/")
        link(rel='stylesheet', href='/styles/unsupported.css')
        title ivasilev.net &#187; Outdated browser

    body
        h1 Outdated browser
        h2 Sorry, but this website is too cool for old browsers
