doctype html
html
    head
        include ../_head
        base(href="/")
        link(rel='stylesheet', href='http://ivasilev.net/styles/unsupported.css')
        title ivasilev.net &#187; Invalid subdomain

    body
        h1 Invalid subdomain
        h2 There is nothing here.
            a(href="http://ivasilev.net") &nbsp;Return to root?
