@use "../mixins";
@use "../sizes";
@use "./components/sorting_card";
@use "./components/sorting_card_array_bars";
@use "./vars";

.sorting-page {
  --sorting-color-main-background:   var(--spotlight-color-background);
  --sorting-color-card-background:   var(--body-color-pp);
  --sorting-color-array-bar-normal:  var(--body-color-mf);
  --sorting-color-array-bar-success: var(--body-color-success);
  --sorting-color-array-bar-danger:  var(--body-color-danger);
  --sorting-color-menu-border:       var(--body-color-mp);
  --sorting-size-main-gap:           #{vars.$sorting-size-card-gap};
  --sorting-size-main-hpadding:      #{vars.$sorting-size-main-hpadding};
  --sorting-size-main-vpadding:      #{vars.$sorting-size-main-vpadding};
  --sorting-size-card-width:         #{vars.$sorting-size-card-width};
  --sorting-size-card-gap:           var(--sorting-size-main-gap);
  --sorting-size-card-vpadding:      #{vars.$sorting-size-card-vpadding};
  --sorting-size-card-hpadding:      #{vars.$sorting-size-card-hpadding};
  --sorting-size-card-border-radius: var(--body-size-border-radius);
  --sorting-size-array-width:        #{vars.$sorting-size-card-array-width};
  --sorting-size-array-gap:          #{vars.$sorting-size-card-array-gap};
  --sorting-size-button-min-width:   var(--sorting-size-array-width);
  --sorting-size-button-gap:         var(--sorting-size-array-gap);
  --sorting-size-card-table-gap:     #{vars.$sorting-size-card-array-gap};
  --sorting-size-card-table-header-width: #{vars.$sorting-size-card-table-header-width};
}

.sorting-phase-button {
  --button-size-width: 100%;

  min-width: var(--sorting-size-button-min-width);
}

.sorting-page-contents {
  overflow-x: auto;
  border-bottom-right-radius: var(--body-size-border-radius);
  border-bottom-left-radius: var(--body-size-border-radius);
  background-color: var(--sorting-color-main-background);
  overscroll-behavior: contain;

  .sorting-page-top-divider {
    --divider-color: var(--menu-group-color-border);
    --divider-size: var(--menu-group-size-border);
    --divider-size-border-radius: 0;
    --divider-size-margin: 0;
  }
}

.sorting-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sorting-size-main-gap);
  justify-content: space-evenly;
  padding-inline: var(--sorting-size-main-hpadding);
  padding-block: var(--sorting-size-main-vpadding);
}
