extends:
    - ../.eslintrc-mocha

plugins:
    - mocha

env:
    mocha: true

globals:
    expect: true

rules:
    mocha/valid-test-description: 0
    mocha/valid-suite-description: 0
    mocha/no-synchronous-tests: 0
