extends:
    - ../.eslintrc-mocha

plugins:
    - mocha

env:
    mocha: true

globals:
    expect: true

rules:
    mocha/valid-test-description: "off"
    mocha/valid-suite-description: "off"
    mocha/no-synchronous-tests: "off"
