@import '../../_vars.less';

.curve-legend {
  h3 {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
  }

  .data-points {
    display: flex;
    margin-bottom: 1em;

    .point-pair {
      width: 2em;
      text-align: right;

      &.info-point-pair {
        width: auto;
        font-weight: bold;
      }
    }
  }

  .curve-table {
    margin-bottom: 1em;

    .col-color {
      width: 2%;
    }

    .col-name {
      width: 28%;
    }

    .col-expression {
      width: 50%;
    }

    .col-date {
      width: 20%;
    }
  }
}
