@import "../../colors.scss";

.curve-canvas {
  background-color: var(--color-background-accented);

  .point-grid {
    .grid-point {
      fill: var(--color-background-saturated);
    }
  }

  .hover-grid {
    .grid-square {
      fill: transparent;
      opacity: 0.75;
      user-select: none;

      &:hover {
        fill: var(--color-accent);
      }
    }
  }

  .active-points {
    pointer-events: none;

    .grid-point {
      fill: var(--color-accent);
    }
  }

  .curve {
    fill: none;
    pointer-events: none;
    stroke-width: 0.1;

    @for $i from 1 through length($color-palette-chalk) {
      &.curve-#{$i} {
        stroke: nth($color-palette-chalk, $i);
      }
    }
  }

  .legend {
    .legend-background {
      fill: var(--color-midground);
    }
  }
}
