@import '../../_vars.less';

.curve-canvas {
  background-color: @visualization-color-background;

  .point-grid {
    .grid-point {
      fill: @visualization-color-midground;
    }
  }

  .hover-grid {
    .grid-square {
      fill: transparent;
      opacity: 0.75;
      touch-callout: none;
      user-select: none;

      &:hover {
        fill: @curve-fitting-point-highlight;
      }
    }
  }

  .active-points {
    pointer-events: none;

    .grid-point {
      fill: @curve-fitting-point-active;
    }
  }

  .curve {
    fill: none;
    pointer-events: none;
    stroke-width: 0.1;
  }

  .legend {
    .legend-background {
      fill: @curve-fitting-legend-background;
    }
  }
}
