@import 'vars';

.breakout-bar {
  position: absolute;
  bottom: 0;
  width: percentage($breakout-bar-width / $breakout-cols);
  height: percentage(1 / $breakout-rows);
  background-color: $white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: translate(-50%, -50%);
}
