@import '../../_colors.less';

.breakout {
  background-color: @color-midground;

  .score {
    paint-order: stroke;
    fill: @color-light;
    stroke: @color-midground;
    stroke-width: 0.1px;
    font-size: 0.75px;
  }

  .splash, .subsplash {
    paint-order: stroke;
    fill: @color-light;
    stroke: @color-midground;
    stroke-width: 0.2px;
    text-anchor: middle;
  }

  .splash {
    font-size: 2px;
  }

  .subsplash {
    font-size: 1.5px;
  }

  .ball {
    fill: @color-foreground;
  }

  .paddle {
    fill: @color-dark;
  }

  .brick {
    &.brick-1 {
      fill: extract(@palette-chalk, 2);
    }

    &.brick-2 {
      fill: extract(@palette-chalk, 3);
    }

    &.brick-3 {
      fill: extract(@palette-chalk, 4);
    }
  }
}
