@import "../../colors.scss";

.breakout {
  background-color: var(--color-background-accented);

  .score {
    paint-order: stroke;
    fill: var(--color-midground);
    stroke: var(--color-background-accented);
    stroke-width: 0.1px;
    font-size: 0.75px;
  }

  .splash, .subsplash {
    paint-order: stroke;
    fill: var(--color-midground);
    stroke: var(--color-background-accented);
    stroke-width: 0.2px;
    text-anchor: middle;
  }

  .splash {
    font-size: 2px;
  }

  .subsplash {
    font-size: 1.5px;
  }

  .ball {
    fill: var(--color-foreground);
  }

  .paddle {
    fill: var(--color-background-saturated);
  }

  .brick {
    @for $i from 1 through length($color-palette-chalk) - 1 {
      &.brick-#{$i} {
        fill: nth($color-palette-chalk, $i + 1);
      }
    }
  }
}
