@use "../../fonts";
@use "../../mixins";
@use "../../sizes";

.breakout-controller-buttons {
  padding: 0;
  border: 0;
}

.breakout-controller-button {
  --icon-size-diameter: var(--breakout-size-breakout-controller-button);

  position: fixed;
  bottom: anchor(bottom);
  display: none;
  width: fit-content;
  height: fit-content;
  aspect-ratio: 1;
  margin: var(--breakout-size-breakout-controller-padding);
  padding: 1em;
  border-radius: 50%;
  opacity: 0.85;
  position-anchor: --page-scroll-container;

  &-enabled {
    display: block;
  }

  &-left {
    left: anchor(left);
  }

  &-right {
    right: anchor(right);
  }
}
