@import '../../_vars.less';

.breakout {
  background-color: @visualization-color-background;

  .score {
    paint-order: stroke;
    fill: @visualization-color-midground;
    stroke: @visualization-color-background;
    stroke-width: 0.1px;
    font-size: 0.75px;
  }

  .splash, .subsplash {
    paint-order: stroke;
    fill: @visualization-color-midground;
    stroke: @visualization-color-background;
    stroke-width: 0.2px;
    text-anchor: middle;
  }

  .splash {
    font-size: 2px;
  }

  .subsplash {
    font-size: 1.5px;
  }

  .ball {
    fill: @breakout-ball;
  }

  .paddle {
    fill: @breakout-paddle;
  }
}
