.breakout-trace {
  &-edges {
    fill: none;
    stroke: var(--breakout-color-ray);
    stroke-width: var(--breakout-size-ray-width);
    stroke-linecap: round;
  }

  &-ghost {
    fill: var(--breakout-color-ray);

    &-fatal {
      fill: var(--breakout-color-ray-fatal);
    }
  }

  &-paddle, &-brick {
    fill: var(--breakout-color-ray-ext);
  }
}
