@use "../../fonts";
@use "../../mixins";
@use "../../sizes";

.breakout {
  width: 100%;
  height: 100%;
  background-color: var(--breakout-color-background);

  &-text {
    fill: var(--breakout-color-text);
    stroke: var(--breakout-color-stroke);
    stroke-width: var(--breakout-size-text-stroke);
    text-anchor: middle;
    paint-order: stroke;
  }

  &-active {
    --breakout-color-stroke: var(--breakout-color-background);
  }
}
