@use "../../fonts";
@use "../../mixins";
@use "../../sizes";

.breakout-controller-button {
  --button-size-font: 1.6em;
  --icon-size-diameter: 2em;
  --button-size-hpadding: 0.75em;
  --button-size-vpadding: 0.75em;

  position: absolute;
  bottom: var(--main-size-vpadding);
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 0.85;

  &:not(&-enabled) {
    display: none;
  }
}

.breakout-controller-button-wrapper-right {
  direction: rtl;
}
