.breakout-rays {
  &-edges {
    opacity: var(--breakout-opacity-ray);
    fill: none;
    stroke: var(--breakout-color-ray);
    stroke-width: var(--breakout-size-ray-width);
    stroke-linecap: round;
  }

  &-ghost {
    fill: var(--breakout-color-ray);

    &-fatal {
      fill: var(--breakout-color-ray-fatal);
    }
  }
}
