@import '../../colors.scss';

.breakout {
  background-color: $color-midground;

  .score {
    paint-order: stroke;
    fill: $color-light;
    stroke: $color-midground;
    stroke-width: 0.1px;
    font-size: 0.75px;
  }

  .splash, .subsplash {
    paint-order: stroke;
    fill: $color-light;
    stroke: $color-midground;
    stroke-width: 0.2px;
    text-anchor: middle;
  }

  .splash {
    font-size: 2px;
  }

  .subsplash {
    font-size: 1.5px;
  }

  .ball {
    fill: $color-foreground;
  }

  .paddle {
    fill: $color-dark;
  }

  .brick {
    @for $i from 1 through length($palette-chalk) - 1 {
      &.brick-#{$i} {
        fill: nth($palette-chalk, $i + 1);
      }
    }
  }
}
