@import 'vars';

.navbar-enter-active, .navbar-leave-active {
  transition: margin-left $anim-duration;
}

.navbar-enter, .navbar-leave-active {
  margin-left: -$navbar-width;
  width: $navbar-width;
}
