@use "../../colors";
@use "../../cursors";
@use "../../duration";
@use "../../fonts";
@use "../../misc";
@use "../../mixins";
@use "../../sizes";

body {
  @include colors.common-color-variables;
  @include cursors.common-cursor-variables;
  @include duration.common-duration-variables;
  @include fonts.common-font-variables;
  @include misc.common-misc-variables;
  @include sizes.common-size-variables;

  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
  height: 100dvh;
  margin: 0; // The body has a margin by default
  background-color: var(--body-color-background);
  color: var(--body-color-foreground);
  font-size: var(--body-size-font);
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
  scrollbar-gutter: stable;

  @media (prefers-reduced-motion: reduce) {
    @include duration.reduced-motion-durations;
  }

  @media (prefers-color-scheme: light) {
    &:not(.dark-scheme) {
      @include colors.light-scheme;
    }
  }

  @media (prefers-color-scheme: dark) {
    &:not(.light-scheme) {
      @include colors.dark-scheme;
    }
  }

  @media (width > #{sizes.$root-size-boundary-collapsed-width}) and (height > #{sizes.$root-size-boundary-collapsed-height}) {
    --layout-collapsed: false;

    .compact-navbar {
      display: none;
    }

    .wide-navbar {
      grid-row: 1 / span 2;
      grid-column: 1 / span 1;
    }

    .page-scroll-container {
      grid-row: 1 / span 2;
      grid-column: 2 / span 1;
    }
  }

  @media (width <= #{sizes.$root-size-boundary-collapsed-width}) or (height <= #{sizes.$root-size-boundary-collapsed-height}) {
    --layout-collapsed: true;

    @media (orientation: landscape) {
      .compact-navbar {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
      }

      .page-scroll-container {
        grid-row: 1 / span 2;
        grid-column: 2 / span 1;
      }
    }

    @media (orientation: portrait) {
      .compact-navbar {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
      }

      .page-scroll-container {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
      }
    }

    .wide-navbar {
      display: none;
    }
  }

  &.light-scheme {
    @include colors.light-scheme;
  }

  &.dark-scheme {
    @include colors.dark-scheme;
  }
}

.page-scroll-container {
  position: relative;
  overflow-y: auto;
  container: page-scroll-container / size;
  overscroll-behavior: contain;
}

main {
  --main-size-max-width: calc(100% - 2 * var(--main-size-hpadding));
  --main-size-max-height: calc(100% - 2 * var(--main-size-vpadding));
  --layout-dense: false;
  --layout-very-dense: false;

  overflow-x: hidden;
  max-width: sizes.$root-size-max-content-width;
  height: fit-content;
  margin-inline: auto;
  padding-inline: var(--main-size-hpadding);
  padding-block: var(--main-size-vpadding);

  @container page-scroll-container (width <= #{sizes.$root-size-boundary-dense-width}) or (height <= #{sizes.$root-size-boundary-dense-height}) {
    --layout-dense: true;

    @include sizes.dense-size-variables;
  }

  @container page-scroll-container (width <= #{sizes.$root-size-boundary-very-dense-width}) {
    --layout-very-dense: true;

    @include sizes.very-dense-size-variables;
  }
}
