@use '../../fonts';

ul {
  li {
    line-height: 1.75em;

    &:not(:last-of-type) {
      margin-bottom: 0.25em;
    }
  }
}

dl {
  dt, dd {
    line-height: 1.75em;
  }

  dt {
    font-weight: bold;
    font-size: 1.1em;

    &:not(:last-of-type) {
      margin-bottom: 0.25em;
    }
  }

  dd {
    margin-bottom: 0.75em;
    margin-left: 1em;
    padding-left: 0.5em;
    border-left: var(--list-size-line-width) solid var(--body-color-pp);
  }
}
