@use '../../fonts';

ul {
  li {
    line-height: 1.75em;

    &:not(:last-of-type) {
      margin-bottom: 0.25em;
    }
  }
}

dl {
  dt, dd {
    line-height: 1.75em;
  }

  dt {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: var(--body-size-pp);
    }
  }

  dd {
    margin-left: var(--body-size-mf);
    padding-left: var(--body-size-p);
    border-left: var(--list-size-line-width) solid var(--body-color-pp);

    &:not(:last-child) {
      margin-bottom: var(--body-size-mp)
    }
  }
}

dl.alert-list {
  margin-top: var(--body-size-f);
  margin-bottom: var(--body-size-p);

  dd {
    &.alert-success {
      border-color: var(--body-color-success)
    }

    &.alert-warning {
      border-color: var(--body-color-warning)
    }

    &.alert-danger {
      border-color: var(--body-color-danger)
    }
  }
}
