@use '../../fonts';

dl {
  margin-block: 0; // We rely in the item's individual margins

  dt {
    margin-bottom: var(--dlist-size-item-gap-small);
    font-weight: bold;
    font-size: var(--dlist-size-font-heading);
    text-align: left;
  }

  dd {
    margin-bottom: var(--dlist-size-item-gap-large);
    margin-left: var(--dlist-size-item-margin-left);
    padding-left: var(--dlist-size-item-padding-left);
    border-left: var(--dlist-size-indicator-width) solid var(--dlist-color-indicator);
  }
}
