@import 'vars';

.breakout-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: $breakout-padding auto;
}

.breakout-grid-container {
  background-color: $breakout-background;
  border-radius: 5px;
}
