@import "../colors.scss";

@import "./components/fleeing_button_canvas.scss";

.playground-fleeing-button-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .fleeing-button-title {
    flex-shrink: 0;
  }
}
