@use "../../sizes";

$home-size-photo-side: 220px;

.home-page {
  display: grid;
  column-gap: var(--body-size-fff);

  // We only care about whether the width is dense here
  @container page-scroll-container (width > #{sizes.$root-size-boundary-dense-width}) {
    grid-template-rows: auto 1fr;
    grid-template-columns: $home-size-photo-side 1fr;

    &-photo {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }

    &-about {
      grid-row: 1 / span 2;
      grid-column: 2 / span 1;
    }

    &-contacts {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }
  }

  @container page-scroll-container (width <= #{sizes.$root-size-boundary-dense-width}) {
    grid-template-columns: 1fr;

    &-photo {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }

    &-about {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }

    &-contacts {
      grid-row: 3 / span 1;
      grid-column: 1 / span 1;
    }
  }

  &-photo {
    width: $home-size-photo-side;
    height: $home-size-photo-side;
    margin: var(--body-size-mf) auto;
    border: var(--body-size-border-normal) solid var(--body-color-foreground);
  }

  &-contacts {
    --heading-text-align: center;

    text-align: center;

    &-list {
      --anchor-size-icon-diameter: var(--button-size-icon-diameter);

      width: fit-content;
      margin: 0 auto;
      padding-left: 0;
      list-style-type: '';
      line-height: 2em;
      text-align: left;
    }
  }
}
