@use "../../colors";

.placeholder-page {
  height: var(--main-size-max-height);
  text-align: center;

  &-loading {
    align-content: center;
    height: 100%;

    &-text {
      font-size: min(15dvw, 5em);
    }
  }

  &-unsupported {
    &-icon {
      --icon-color: var(--body-color-danger);
    }
  }
}
