div.error-container
    Icon(name="warning")

    h1 {{ error.title }}
    h4 {{ error.message }}

    p
        span Please try refreshing the browser or&nbsp;
        a(:href="bugurl") reporting a bug
