div.error-container
    i-icon(name="warning")

    h1 {{ data.title }}
    h4 {{ data.message }}

    p
        span Please try refreshing the browser or&nbsp;
        a(:href.once="bugurl") reporting a bug
