div.home-view
    :marked
        # Welcome!

        This is a simple personal website - nothing more.

        ## About me

        My name is Ianis Vasilev (pronounce it however you want). For some reason, I am studying statistics at Sofia University. According to my contract I am a programmer and according to my ego I am also a musician. Otherwise I am a relatively sane person.

        ## About this website

        This website contains random stuff that would otherwise be uploaded to other websites. Since you got here you probably need my [file server](/files) or my [pacman](/pacman) repo. I also have some [code experiments](/code). Everything here should be pretty self-descriptive.

    h2 Contacts

    ul
        li(v-for="contact in contacts")
            a.home-contact(:href="contact.uri")
                Icon(:name="contact.icon")
                span {{ contact.name }}
