@import 'vars';

.sort-demo-container {
  border-radius: 5px;
  background-color: $darkgray;
  display: inline-block;
  margin: 0 30px 30px 0;

  p {
    margin: 5px auto;
  }

  button {
    width: 100%;
    margin: 5px auto;
  }

  .sort-demo {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;

    .sort-demo-section {
      display: flex;
      justify-content: space-between;
      width: 350px;

      p:first-of-type {
        color: $gray;

        &.sort-demo-title {
          @include ellipsis();
          font-size: 1.2em;
          color: $paleblue;
        }
      }
    }
  }
}
