@import 'vars';

.sorting-sorter {
  width: 70px;
}

.sorting-demo-lines {
  > div {
    background: $sorting-sorter-line;
    height: 1px;
    margin: 2px;

    &.still {
      background: $sorting-sorter-still;
    }

    &.swapped {
      background: $sorting-sorter-swapped;
    }

  }

  &.complete > div {
    background: $sorting-sorter-swapped;
  }
}
