@import 'vars';

.sort-demo-sorter {
  width: 70px;

  .sort-demo-lines > div {
    background: $blue;
    height: 1px;
    margin: 2px;

    &.still {
      background: $danger;
    }

    &.swapped {
      background: $success;
    }

    &.ready {
      background: $success;
    }
  }
}
