@import 'vars';

.sort-demo-container {
  border-radius: 5px;
  background-color: $darkgray;
  text-align: center;
  display: inline-block;
  margin: 0 30px 30px 0;

  p {
    margin: 5px auto;
  }

  button {
    width: 100%;
    margin: 15px auto 5px;
  }

  .sort-demo {
    display: flex;
  }

  .sort-demo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;
    width: 100px;
  }

  .sort-demo-heading {
    color: $gray;
  }

  .sort-demo-title {
    font-size: 1.2em;
    color: $paleblue;
  }
}
