@import 'vars';

.sort-demo-sorter {
  width: 100%;
  margin: 0 5px;

  .sort-demo-line {
    background: $blue;
    height: 1px;
    margin: 2px;

    &.still {
      background: $danger;
    }

    &.swapped {
      background: $success;
    }

    &.ready {
      background: $success;
    }
  }
}
