[server]
address = "0.0.0.0"
port = 8000

[db]
host = "127.0.0.1"
name = "ivasilev"

[dirs]
files = "files"
slides = "slides"
pacman = "pacman"

[ecb_history]
daily = "http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml"
quaterly = "http://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist-90d.xml"
full = "http://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist.xml"
