@import 'vars';

.error-container {
  text-align: center;

  .icon-container {
    fill: $error-icon;
  }

  .icon {
    font-size: 125px;
    padding: 25px;
  }

  pre {
    margin-top: 0;
  }

  code {
    display: inline-block;
    background-color: transparent;
  }
}
