@import "../../colors.scss";

.files-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .files-table-container {
    flex-grow: 1;
    margin-bottom: 1rem;

    .files-table {
      .col-name,
      .col-modified {
        width: 30%;
      }

      .col-type,
      .col-size {
        width: 20%;
      }
    }
  }
}
