@import "../../colors.scss";
@import "../../sizes.scss";

$gallery-tile-width: 23rem;
$gallery-tile-height: 9 / 16 * $gallery-tile-width;

$gallery-tile-width-mobile: 19rem;
$gallery-tile-height-mobile: 9 / 16 * $gallery-tile-width-mobile;

$gallery-tile-margin: 1rem;

$transition-gallery: 250ms;

.gallery-page {
  .gallery {
    display: grid;
    grid-template-columns: $gallery-tile-width;
    grid-gap: $gallery-tile-margin;
    justify-content: center;
    margin-bottom: 1rem;

    .gallery-tile {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      width: $gallery-tile-width;
      height: $gallery-tile-height;
      text-decoration: none;
      background-color: $color-midground;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: box-shadow $transition-gallery;

      .gallery-tile-title {
        text-align: center;
        color: $color-foreground;
        background-color: rgba($color-midground, 0.85);
        bottom: -1px;
        right: -1px;
        left: -1px;
        line-height: 2.5rem;
        position: absolute;
      }

      .gallery-tile-arrow {
        position: absolute;
        font-size: 3rem;
        fill: $color-midground;
        filter: drop-shadow(0 0 1rem $color-foreground);
      }

      &:hover {
        box-shadow: 0 0 1rem $color-dark;
      }
    }
  }

  .pagination-wrapper {
    border-top: 1px solid $color-light;
    border-bottom: 1px solid $color-light;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: $mobile-width) {
  .gallery-page {
    .gallery {
      grid-template-columns: $gallery-tile-width-mobile;

      .gallery-tile {
        width: $gallery-tile-width-mobile;
        height: $gallery-tile-height-mobile;
        margin-right: 0;
      }
    }
  }
}

@each $count in 2, 3, 4, 6, 12 {
  @media (min-width: $sidebar-width + 2 * $main-hpadding-desktop + $count * $gallery-tile-width + ($count - 1) * $gallery-tile-margin) {
    .gallery-page {
      .gallery {
        grid-template-columns: repeat($count, $gallery-tile-width);
      }
    }
  }
}
