@import '../../_vars.less';
@import '../../_mixins.less';

@image-side: 200px;

.home-page {
  display: flex;

  .about-me {
    margin-right: 2em;

    .me-irl {
      flex: 0 1 @image-side;
      margin: 0.5em 0;

      .me-irl-image {
        width: @image-side;
        border: 3px solid @color-foreground;
        border-radius: 2px;
      }
    }

    .contact {
      list-style-type: none;
      line-height: 2em;

      a {
        display: inline-flex;
        align-items: center;

        > .icon {
          height: 1.5em;
          width: 1.5em;
          margin-top: -0.1em;
        }

        > span {
          margin-left: 0.75em;
        }
      }
    }
  }

  .info {
    flex: 1;
  }
}
