@import "../../colors.scss";
@import "../../sizes.scss";

$image-side: 200px;

.home-page {
  display: flex;

  .me-irl {
    margin: 0.5em auto;
    width: $image-side;
    height: $image-side;
    border: 3px solid var(--color-foreground);
    background-image: url(/images/me_irl.jpg);
    background-size: cover;
  }

  .info {
    height: 100%;

    .me-irl {
      display: none;
    }
  }

  .about-me {
    margin-right: 2rem;
    text-align: center;
    min-width: 230px;

    .me-irl {
      display: block;
      margin-bottom: 1.5rem;
    }

    .contacts {
      .section-title {
        display: block;
        margin-bottom: 1rem;
      }

      .contact {
        list-style-type: none;
        line-height: 2em;
        text-align: left;
        margin-left: 3em;

        a {
          display: inline-flex;
          align-items: center;

          > .icon {
            height: 1.3em;
            width: 1.3em;
          }

          > span {
            margin-left: 0.75em;
          }
        }
      }

      .pgp-info {
        margin-top: 1.5rem;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .home-page {
    flex-direction: column-reverse;

    .about-me {
      .me-irl {
        display: none;
      }
    }

    .info {
      .me-irl {
        display: block;
      }
    }
  }
}
