@import "../../colors.scss";
@import "../../sizes.scss";

$image-side: 200px;

.home-page {
  .me-irl {
    margin: 0.5em auto;
    width: $image-side;
    height: $image-side;
    border: 3px solid $color-foreground;
    border-radius: 2px;
    background-image: url(/images/me_irl.jpg);
    transition: all 1s;
    background-size: cover;
  }

  .about-me {
    margin-right: 2em;
    width: 100%;

    .me-irl {
      display: none;
    }

    .contact {
      list-style-type: none;
      line-height: 2em;

      a {
        display: inline-flex;
        align-items: center;

        > .icon {
          height: 1.5em;
          width: 1.5em;
          margin-top: -0.1em;
        }

        > span {
          margin-left: 0.75em;
        }
      }
    }
  }
}

@media (min-width: $mobile-width) {
  .home-page {
    display: flex;
    flex-direction: row-reverse;

    .about-me {
      flex: 0 1 $image-side;

      .me-irl {
        display: block;
      }
    }

    .info {
      flex: 1;

      .me-irl {
        display: none;
      }
    }
  }
}
