@import '../../_vars';

.home-page {
  .contact {
    list-style-type: none;
    line-height: 2.5em;

    a {
      display: inline-flex;
      align-items: center;

      > .icon {
        height: 1.5em;
        width: 1.5em;
        margin-top: -.1em;
      }

      > span {
        margin-left: .75em;
      }
    }
  }
}
