@import "../../colors.scss";
@import "../../sizes.scss";

$image-side: 200px;

.playground-page {
  a.disabled {
    &, &:hover, &:active {
      color: $color-dark !important;
      pointer-events: none;
    }
  }
}
