@import 'vars';

section {
  flex: 1;
  opacity: 1;
  transition: opacity $anim-duration;
  padding: $view-padding-base $view-padding-side;
  box-sizing: border-box;
  min-width: 75vw;
  height: 100vh;
  overflow-y: auto;
  display: block;
}

@media (max-width: $tablet-width) {
  section {
    padding: $view-padding-base ($view-padding-side * 3 / 4);
  }
}

.view-container {
  height: calc(100% - #{$header-line-height + $header-line-margin});
  width: 100%;
}
