body {
    min-width: 480px;
    min-height: 360px;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: #000000;
    top: 40%;
    padding: 0;
    margin: 0;
}

h1, h2 {
    cursor: default;
    margin: 10px;
    font-family: sans-serif;
    font-weight: normal;
}

h1 {
    color: #ffffff;
    font-size: 45px;
}

h2 {
    color: #d0d0d0;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}
