@import '../../_vars.less';

.graph-canvas {
  background: @visualization-color-background;

  .vertex {
    .vertex-circle {
      fill: @visualization-color-foreground;
      r: 0.1px;
    }

    .vertex-text {
      fill: @visualization-color-background;
      font-size: 0.1px;
      line-height: 10px;
      font-weight: bold;
      text-anchor: middle;
      pointer-events: none;
      transform: translateY(0.035px);
    }

    &.highlighted .vertex-circle {
      fill: @visualization-color-accent;
    }

    &.hovered .vertex-circle {
      fill: @visualization-color-hovered;
    }
  }

  .arc {
    .arc-line {
      stroke: @visualization-color-foreground;
      stroke-width: 0.035px;
    }

    .arc-hover-line {
      opacity: 0;
      // Hovering doesn't work otherwise
      stroke: @visualization-color-foreground;
      stroke-width: 0.2px;
    }

    &.highlighted .arc-line {
      stroke: @visualization-color-accent;
    }

    &.hovered .arc-line {
      stroke: @visualization-color-hovered;
    }
  }
}
