@import '../_vars.less';

.playground-aifs-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .aifs-subtitle {
    margin-bottom: 1.5em;
  }

  .aifs-canvas-wrapper {
    margin-bottom: 1.5em;

    .aifs-canvas {
      width: 100%;
      height: 100%;
    }
  }

  .aifs-transforms {
    .aifs-transform {
      margin: 0.5em;
    }
  }
}
