@use "../../mixins";

.sorting-card {
  display: flex;
  flex-direction: column;
  row-gap: var(--sorting-size-card-gap);
  box-sizing: border-box;
  width: var(--sorting-size-card-width);
  padding-inline: var(--sorting-size-card-hpadding);
  padding-block: var(--sorting-size-card-vpadding);
  background-color: var(--sorting-color-card-background);
  text-align: center;

  &-title {
    @include mixins.inline-ellipsis;

    overflow-y: hidden; // Why is there vertical overflow?
  }

  &-info-table {
    width: auto;
    table-layout: fixed;

    th, td {
      padding-block: 0;
      text-align: left;
    }

    th {
      @include mixins.inline-ellipsis;

      width: var(--sorting-size-card-table-header-width);
      max-width: var(--sorting-size-card-table-header-width);
    }
  }

  &-buttons {
    display: flex;
    column-gap: var(--sorting-size-button-gap);

    .sorting-status-button {
      flex-grow: 1;
    }
  }

  &-array-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: var(--sorting-size-array-gap);
  }

  &-array {
    width: var(--sorting-size-array-width);

    &-template-kind {
      @include mixins.inline-ellipsis;

      overflow-y: hidden; // Why is there vertical overflow?
    }
  }
}
