@import "../../colors.scss";

.sorter {
  .sorter-bars {
    width: 100px;
    height: 2em;
    display: block;

    .sorter-bar {
      fill: var(--color-foreground-saturated);

      &.swapped {
        fill: var(--color-success);
      }

      &.tinted {
        fill: var(--color-danger);
      }
    }
  }
}
