div.error-container
    span.error-icon
        span.fa.fa-exclamation-triangle

    :marked
        # #{title}
        #### #{message}

        Please try refreshing the browser or [reporting a bug](#{bugurl})
