:marked
    # __Welcome!__

    This is a simple personal website - nothing more and nothing less.

    ## About me

    My name is Ianis Vasilev (pronounce it however you want). For some reason, I am studying statistics at Sofia University. According to my contract I am a programmer and according to my ego I am also a musician and wannabe mathematician. Otherwise I am a relatively sane person.

:marked
    ## About this website

    This website contains random stuff that otherwise would be uploaded to other websites. Since you got here you probably need my [file server](/files) or my [code demos](/code). [pacman](/pacman) contains information about a custom Arch Linux pacman repository. All other sections should be pretty self-descriptive.

h2 Contacts
ul
    each contact in contacts
        li
            a(href=contact.uri)
                span.pad-right.fa.fa-fw(class=contact.faIcon)
                =contact.name
