:marked
    #{summary} Inspired by the currently dead [sorting-algorithms.com](http://sorting-algorithms.com).

    The worst-case time and space complexities are presented. The total space complexity is represented as the sum of the array-storage and auxiliary complexities.

    <b class="danger">__Legend:__</b> After clicking one of the ___'sort'___ buttons, the lines will begin to rearrange. Green means that the two lines were swapped, red means that they were not. You can run all algorithms at once to compare them.
