@import "../../colors.scss";

.anchor {
  &:focus {
    outline: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  color: var(--color-accent);

  .icon {
    fill: var(--color-accent);
  }

  &:visited {
    color: var(--color-accent);
  }

  &:hover,
  &:active {
    color: var(--color-accent-accented);

    .icon {
      fill: var(--color-accent-accented);
    }
  }
}
