@import '../../_vars';

.aspect-ratio-box {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;

  > .aspect-ratio-box-body {
    position: absolute;
  }
}
