@use "../../colors";
@use "../../fonts";

.breadcrumb-navigation {
  --breadcrumb-navigation-size-slash-padding: var(--body-size-p);
  --breadcrumb-navigation-size-hpadding: var(--body-size-mp);
  --breadcrumb-navigation-size-vpadding: var(--body-size-pp);
  --anchor-color-disabled: var(--body-color-foreground);
  --anchor-text-decoration: none;

  display: flex;
  flex-wrap: wrap;
  padding-block: var(--breadcrumb-navigation-size-vpadding);
  padding-right: var(--breadcrumb-navigation-size-hpadding);
  padding-left: calc(var(--breadcrumb-navigation-size-hpadding) - var(--breadcrumb-navigation-size-slash-padding));
  border-radius: var(--body-size-border-radius);
  background-color: var(--spotlight-color-background);
  font-weight: bold;
  font-size: var(--heading-h4-size-font);
  overscroll-behavior-x: contain;
  scrollbar-gutter: stable;

  .breadcrumb {
    &-slash {
      margin-inline: var(--breadcrumb-navigation-size-slash-padding);
    }
  }
}
