@import "../../colors.scss";
@import "../../z_index.scss";

$breadcrumb-up-link-width: 3.5rem;
$breadcrumb-max-width: 10rem;

.breadcrumbs-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  display: flex;
  position: relative;

  .up-link {
    position: absolute;
    height: 100%;
    z-index: $z-index-up-arrow;
    display: flex;
    align-items: center;
    background-color: $color-background;
    box-shadow: 0 0 0.5rem 0.25rem $color-background;
  }

  .breadcrumbs {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow-x: hidden;
    flex-shrink: 1;
  }

  .breadcrumb {
    flex-shrink: 0;
    display: flex;

    .breadcrumb-slash {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .breadcrumb-text {
      max-width: $breadcrumb-max-width;
      text-decoration: none;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    &.first-breadcrumb {
      padding-left: $breadcrumb-up-link-width - 0.5rem;
    }

    &.last-breadcrumb {
      min-width: 0;
      max-width: calc(100% - #{$breadcrumb-up-link-width - 0.5rem});

      .breadcrumb-text {
        max-width: none;
      }
    }
  }
}
