@import "../colors.scss";
@import "../z_index.scss";

.breadcrumbs-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  display: flex;

  .up-link {
    flex: 0 0 1em;
    box-shadow: 1rem 0 0.5rem $color-background;
    z-index: $z-index-up-arrow;
    display: flex;
    align-items: center;
  }

  .breadcrumbs {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow-x: hidden;

    .breadcrumb {
      display: flex;
      align-items: center;

      .breadcrumb-link {
        text-decoration: none;
        max-width: 10rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .breadcrumb-text {
        white-space: nowrap;
      }

      .icon {
        transform: scaleX(-1);
        flex: 0 0 1em;
      }
    }
  }
}
