@use "../../sizes";

.icon {
  vertical-align: middle;
  height: var(--icon-size-diameter);
  aspect-ratio: 1;
  padding-inline: var(--icon-size-hpadding);
  padding-block: var(--icon-size-vpadding);
  fill: var(--icon-color);

  &-huge {
    --icon-size-diameter: #{sizes.$icon-size-diameter-huge-loose};
    --icon-size-hpadding: #{sizes.$icon-size-padding-huge-loose};
    --icon-size-vpadding: #{sizes.$icon-size-padding-huge-loose};

    max-width: 50dvw;
    min-height: #{sizes.$icon-size-diameter-huge-dense};
    max-height: 50dvh;
    margin-bottom: 0;

    @container page-scroll-container (width <= #{sizes.$root-size-boundary-dense-width}) or (height <= #{sizes.$root-size-boundary-dense-height}) {
      --icon-size-diameter: #{sizes.$icon-size-diameter-huge-dense};
      --icon-size-hpadding: #{sizes.$icon-size-padding-huge-dense};
      --icon-size-vpadding: #{sizes.$icon-size-padding-huge-dense};
    }
  }
}
