@import "../../colors.scss";

.link {
  &:focus {
    outline: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  color: $color-accent;
  fill: $color-accent;

  &:visited {
    color: $color-accent;
    fill: $color-accent;
  }

  &:hover,
  &:active {
    color: $color-accent-saturated;
    fill: $color-accent-saturated;
  }
}
