@import '../../_colors.less';

.link {
  &:focus {
    outline: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  color: @color-accent-saturated;
  fill: @color-accent-saturated;

  &:hover,
  &:active,
  &:visited {
    color: @color-accent-saturated;
    fill: @color-accent-saturated;
  }
}
