@import '../../_time.less';
@import '../../_colors.less';
@import '../../_zindex.less';
@import '../../_mixins.less';

.loading-indicator-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: @color-background;

  display: flex;
  justify-content: center;
  align-items: center;

  .loading-indicator {
    .zindex(@zindex-loading-indicator);
    font-size: 5em;
    font-weight: bold;
    transition: opacity @transition-loading;
  }
}
