@keyframes moving-background {
  0% {
    background-position-x: 200%;
  }

  100% {
    background-position-x: 65%;
  }
}

.loading-indicator {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--body-zindex-fff);

  &-bar {
    width: 100%;
    height: var(--loading-size-height);
    background-image: linear-gradient(
      90deg,
      var(--loading-color-primary) 0%,
      var(--loading-color-primary) 80%,
      var(--loading-color-secondary) 95%,
      var(--loading-color-primary) 100%
    );
    background-size: 200% 100%;
    animation: moving-background var(--loading-duration-cycle) linear infinite;
  }
}
