@import 'vars';

main {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: auto;

  .page {
    overflow-y: auto;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: $main-base-width;
    padding: $main-vpadding-desktop $main-hpadding-desktop;
    position: relative;

    &::after {
      display: block;
      position: fixed;
      text-align: center;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      padding-top: calc(50vh - 1em);
      top: 0;
      margin-left: -$main-hpadding-desktop;
      background: $loading-background;
      font-size: 5em;
      font-weight: bold;
      content: 'Loading...';
      opacity: 0;
      transition: opacity $loading-transition;
      pointer-events: none;
    }
  }

  &.loading {
    .page {
      &::after {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  main {
    .page {
      padding: $main-vpadding-mobile $main-hpadding-mobile;

      &::after {
        margin-left: -$main-hpadding-mobile;
      }
    }
  }
}
