@use "../../fonts";
@use "../../sizes";

.main-menu-toolbar {
  // Colors
  --button-color-background-accented: var(--main-menu-color-background);
  --button-color-background-disabled: var(--button-color-background-normal);
  --button-color-background-normal:   var(--main-menu-color-background);
  --button-color-foreground-disabled: var(--main-menu-color-disabled);
  --button-color-foreground-accented: var(--main-menu-color-accented);
  --button-color-foreground-normal:   var(--main-menu-color-foreground);
  --control-color-label-normal:   var(--main-menu-color-foreground);
  --control-color-label-active:   var(--main-menu-color-foreground);
  --control-color-label-accented: var(--main-menu-color-accented);
  --divider-color: var(--main-menu-color-divider);
  --divider-size-border-radius: 0;

  background-color: var(--main-menu-color-background);
}

.main-menu {
  --button-size-vpadding: #{sizes.$main-menu-size-button-vpadding};
  --button-size-gap: #{sizes.$main-menu-size-button-hpadding};
  --button-size-hpadding: #{sizes.$main-menu-size-button-hpadding};
  --button-size-border-radius: 0;
  --button-size-width: 100%;
  --divider-size-margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  margin: 0;

  &-entry {
    box-sizing: border-box;
    width: 100%;
    border-right: 0.6em solid transparent; // Correction allowing wider fonts (e.g. Roboto) to extend the sidebar without looking odd
    text-overflow: ellipsis;
    white-space: pre;

    &[aria-current="page"] {
      --button-color-foreground-normal: var(--main-menu-color-foreground-active);
      --button-color-foreground-accented: var(--main-menu-color-accented-active);
      --button-color-background-normal: var(--main-menu-color-background-active);
      --button-color-background-accented: var(--main-menu-color-background-active);
    }
  }

  &-lang-toggle {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-block: var(--body-size-p);

    &:disabled {
      --icon-color: var(--button-color-foreground-disabled);
    }

    &-label {
      --control-size-label-hpadding: 0;
      --control-size-label-vpadding: 0;
      --button-size-vpadding: var(--body-size-p);
    }

    &-control {
      display: none;
    }
  }
}
