@import "../../colors.scss";
@import "../../sizes.scss";

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: row;

  background-color: var(--color-background);
  color: var(--color-foreground);

  .page-wrapper {
    position: relative;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;

    .page {
      width: 100%;
      height: -moz-fit-content;
      height: fit-content;
      box-sizing: border-box;
      padding: $main-vpadding-desktop $main-hpadding-desktop;
      min-width: $main-base-width;
    }
  }

  @include light-scheme;

  &.dark-scheme {
    @include dark-scheme;
  }
}

@media (max-width: $mobile-width) {
  main .page-wrapper .page {
    padding: $main-vpadding-mobile $main-hpadding-mobile;
  }
}
