@import '../../_vars';

main {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: auto;

  .page-wrapper {
    position: relative;

    .page {
      overflow-y: auto;
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: @main-base-width;
      padding: @main-vpadding-desktop @main-hpadding-desktop;
      position: relative;
    }
  }
}

@media (max-width: @mobile-width) {
  main {
    .page {
      padding: @main-vpadding-mobile @main-hpadding-mobile;

      &::after {
        margin-left: -@main-hpadding-mobile;
      }
    }
  }
}
