@import 'vars';

.nojs {
  background-color: $danger-color;
  color: $button-color;
  font-size: 1.5em;
  text-align: center;
  flex-grow: 1;

  > .content {
    display: block;
    padding: .5em;
  }
}
