@import '../../_vars.less';

.nojs {
  background-color: @danger-color;
  color: @button-color-foreground;
  font-size: 1.5em;
  text-align: center;
  flex-grow: 1;

  > .content {
    display: block;
    padding: 0.5em;
  }
}
