@use "../../sizes";
@use "../../mixins";

.playground-menu {
  display: flex;
  justify-content: space-between;
  background-color: var(--spotlight-color-background);

  // We cannot use `style(--layout-collapsed: false)` because Firefox lacks support
  // See https://bugzilla.mozilla.org/show_bug.cgi?id=1795622
  @media (width > #{sizes.$root-size-boundary-collapsed-width}) and (height > #{sizes.$root-size-boundary-collapsed-height}) {
    &-drawer {
      display: none;
    }
  }

  @media (width <= #{sizes.$root-size-boundary-collapsed-width}) or (height <= #{sizes.$root-size-boundary-collapsed-height}) {
    &-inline {
      display: none;
    }
  }

  &-up-anchor {
    @include mixins.button-foreground-colors(var(--body-color-accented));

    font-weight: bold;
  }

  &-inline {
    .playground-submenu {
      display: flex;

      &-item:not(:last-of-type) {
        border-right: var(--spotlight-size-divider) var(--spotlight-divider-style) var(--spotlight-color-divider);
      }
    }
  }

  &-drawer {
    &-toggle {
      --button-size-icon-diameter: 0.75em;

      @include mixins.button-foreground-colors(var(--body-color-accented));

      height: 100%;

      &:has(+ :popover-open) {
        --button-color-background-normal: var(--button-color-background-accented);
      }
    }

    &-popover {
      inset: unset;
      right: anchor(right);
      bottom: anchor(top);
      padding: 0;
      border-width: 0;
      border-radius: var(--spotlight-size-drawer-border-radius);
      border-bottom-right-radius: 0;
      background-color: var(--spotlight-color-drawer-background);
      box-shadow: 0 0 var(--spotlight-size-shadow-radius) var(--spotlight-color-shadow);

      .playground-submenu {
        --button-size-width: 100%;

        display: flex;
        flex-direction: column;

        &-item:not(:last-of-type) {
          border-bottom: var(--spotlight-size-divider) var(--spotlight-divider-style) var(--spotlight-color-divider);
        }
      }
    }
  }
}
