@use "../../sizes";
@use "../../mixins";

.playground-menu {
  --button-size-border-radius: 0;
  --button-size-icon-diameter: 1.2em;

  display: flex;
  justify-content: space-between;
  overflow: hidden; // This is needed to keep the border radius
  background-color: var(--spotlight-color-background);

  // We cannot use `style(--layout-collapsed: false)` because Firefox lacks support
  // See https://bugzilla.mozilla.org/show_bug.cgi?id=1795622
  @media (width > #{sizes.$root-size-boundary-collapsed-width}) and (height > #{sizes.$root-size-boundary-collapsed-height}) {
    &-drawer {
      display: none;
    }
  }

  @media (width <= #{sizes.$root-size-boundary-collapsed-width}) or (height <= #{sizes.$root-size-boundary-collapsed-height}) {
    &-inline {
      display: none;
    }
  }

  &-stick-top {
    border-bottom-right-radius: var(--spotlight-size-border-radius);
    border-bottom-left-radius: var(--spotlight-size-border-radius);
  }

  &-stick-bottom {
    border-top-left-radius: var(--spotlight-size-border-radius);
    border-top-right-radius: var(--spotlight-size-border-radius);
  }

  &-up-anchor {
    @include mixins.button-background-colors(transparent);
    @include mixins.button-foreground-colors(var(--body-color-accented));

    font-weight: bold;
  }

  &-inline {
    .playground-submenu {
      display: flex;

      &-item:not(:last-of-type) {
        border-right: var(--menu-group-size-border) solid var(--menu-group-color-border);
      }
    }
  }

  &-drawer {
    &-toggle {
      @include mixins.button-background-colors(transparent);
      @include mixins.button-foreground-colors(var(--body-color-accented));

      height: 100%;

      &:has(+ :popover-open) {
        --button-color-background-normal: var(--button-color-background-accented);
      }
    }

    &-popover {
      --menu-group-color-border:var(--body-color-p);

      inset: unset;
      right: anchor(right);
      bottom: anchor(top);
      padding: 0;
      border-width: 0;
      border-radius: var(--spotlight-size-border-radius);
      border-bottom-right-radius: 0;
      background-color: var(--body-color-pp);
      box-shadow: 0 0 var(--spotlight-size-shadow-radius) var(--dialog-color-shadow);

      .playground-submenu {
        --button-size-width: 100%;

        display: flex;
        flex-direction: column;

        &-item {
          border-bottom: var(--menu-group-size-border) solid var(--menu-group-color-border);
        }
      }
    }
  }
}
