@import 'vars';

.root-wrapper {
  display: flex;

  > main {
    flex: 1;
    opacity: 1;
    transition: opacity $anim-duration;
    padding: $view-padding-base $view-padding-side;
    box-sizing: border-box;
    min-width: 75vw;
    height: 100vh;
    overflow-y: auto;
    display: block;
  }
}

@media (max-width: $tablet-width) {
  .root-wrapper > main {
    padding: $view-padding-base ($view-padding-side * 3 / 4);
  }
}
