@import "../colors.scss";

.section-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  .up-link {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  .section-title-text {
    white-space: nowrap;
    overflow-x: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
}
