@import "../../time.scss";
@import "../../sizes.scss";
@import "../../colors.scss";
@import "../../z_index.scss";

.sidebar-toggle {
  position: absolute;
  font-size: 26px;
  border-radius: 50%;
  cursor: pointer;
  z-index: $z-index-sidebar-toggle;

  // Override button properties to act properly
  padding: 0;
  margin: 0;
  width: 1em;
  height: 1em;
  left: 0.7rem;
  top: 1.5rem;
  background-color: $color-foreground;
  fill: $color-background;
  transform: scaleX(-1) translate3d(0, 0, 0);
}

@media (max-width: $mobile-width) {
  .sidebar-toggle {
    left: 0.35rem;
    top: 0.35rem;
    font-size: 20px;
  }
}
