@import '../../time.scss';
@import '../../sizes.scss';
@import '../../colors.scss';
@import '../../zindex.scss';

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $sidebar-width;

  background-color: $color-foreground;
  overflow-y: auto;
  transition: margin-left $transition-sidebar;
  padding: $sidebar-padding 0;
  z-index: $zindex-sidebar;

  display: flex;
  flex-direction: column;

  &.collapsed {
    margin-left: -$sidebar-width;
  }

  > .entry {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    margin: 0.5em 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;

    > .entry-icon {
      fill: $color-background;
      font-size: 1.5rem;
      flex-grow: 0;
      flex-shrink: 0;
      transition: transform $transition-sidebar;
    }

    > .entry-text {
      color: $color-background;
      line-height: 2em;
      flex-grow: 1;
      text-align: left;
      margin-left: 1.5em;
    }

    &:active,
    &:visited {
      > .entry-icon {
        fill: $color-background;
      }

      > .entry-text {
        color: $color-background;
      }
    }

    &:hover {
      > .entry-icon {
        fill: $color-light;
      }

      > .entry-text {
        color: $color-light;
      }
    }

    &.active {
      > .entry-icon {
        fill: $color-foreground;
      }

      > .entry-text {
        color: $color-foreground;
      }
    }
  }
}
