@import '../../_time.less';
@import '../../_sizes.less';
@import '../../_colors.less';
@import '../../_zindex.less';
@import '../../_mixins.less';

.sidebar-toggle {
  .button();

  position: absolute;
  font-size: 26px;
  border-radius: 50%;
  cursor: pointer;
  .zindex(@zindex-sidebar-toggle);

  // Override button properties to act properly
  padding: 0;
  margin: 0;

  width: 1em;
  height: 1em;

  left: 0.7rem;
  top: 2.7rem;

  background-color: @color-foreground;
  fill: @color-background;

  transform: scaleX(-1) translate3d(0, 0, 0); // translate3d makes z-index work on webkit
}

@media (max-width: @mobile-width) {
  .sidebar-toggle {
    left: 0.2rem;
    top: 1.2rem;
    font-size: 20px;
  }
}
