@import "../../time.scss";
@import "../../sizes.scss";
@import "../../colors.scss";
@import "../../z_index.scss";

@mixin entry-color($color) {
  > .entry-icon {
    fill: $color;
  }

  > .entry-text {
    color: $color;
  }
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $sidebar-width;
  background-color: var(--color-foreground);
  overflow-y: auto;
  transition: margin-left $transition-sidebar;
  padding: 0;
  z-index: $z-index-sidebar;
  display: flex;
  flex-direction: column;

  &.collapsed {
    margin-left: -$sidebar-width;
  }

  > hr {
    width: 100%;
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-color: var(--color-foreground-accented);
  }

  > .entry {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    transition: none;

    > .entry-icon {
      fill: var(--color-background);
      font-size: 1.5rem;
      flex-grow: 0;
      flex-shrink: 0;
      transition: transform $transition-sidebar;
    }

    > .entry-text {
      color: var(--color-background);
      line-height: 2em;
      flex-grow: 1;
      text-align: left;
      margin-left: 1.5em;
    }

    &.active {
      @include entry-color(var(--color-foreground));
    }

    &:hover {
      @include entry-color(var(--color-background-accented));

      &.active {
        background-color: var(--color-background);
        @include entry-color(var(--color-foreground-accented));
      }
    }

    &[disabled] {
      @include entry-color(var(--color-midground));
    }
  }

  .spacer {
    flex-grow: 2;
  }

  .dark-scheme & {
    background-color: var(--color-background-accented);

    > hr {
      border-color: var(--color-background-saturated);
    }

    > .entry {
      background-color: var(--color-background-accented);

      @include entry-color(var(--color-foreground));

      &:hover {
        @include entry-color(var(--color-foreground-accented));
      }

      &.active {
        background-color: var(--color-background);
      }

      &[disabled] {
        @include entry-color(var(--color-midground));
      }
    }
  }
}
