@import 'static';
@import 'vars';

.sidebar-toggle {
  @extend .button; // sass-lint:disable-line placeholder-in-extend

  position: absolute;
  font-size: 1.8em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;

  // Override button properties to act properly
  padding: 0;
  margin: 0;

  width: 1em;
  height: 1em;

  left: 12px;
  top: 32px;

  background-color: $button-bg-color;
  fill: $button-color;

  transform: scaleX(-1) translate3d(0, 0, 0); // translate3d makes z-index work on webkit

  &:active {
    transform: scaleX(-.9) scaleY(.9) translate3d(0, 0, 0); // translate3d makes z-index work on webkit
  }
}

@media (max-width: $mobile-width) {
  .sidebar-toggle {
    left: 4px;
  }
}
