@import '../../_vars';
@import '../_mixins';

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: @sidebar-width;

  background: @button-color-background;
  overflow-y: auto;
  transition: margin-left @sidebar-transition;
  padding: @sidebar-padding 0;
  z-index: 2;

  // Make the z-index work on webkit
  -webkit-transform: translate3d(0, 0, 0);

  display: flex;
  flex-direction: column;

  &.collapsed {
    margin-left: -@sidebar-width;
  }

  > .entry {
    .button();

    flex-shrink: 0;
    display: flex;
    align-items: center;

    margin: .5em 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;

    > .entry-icon {
      font-size: 1.5rem;
      flex-grow: 0;
      flex-shrink: 0;
      transition: transform @sidebar-transition;
    }

    > .entry-text {
      line-height: 2em;
      flex-grow: 1;
      text-align: left;
      margin-left: 1.5em;
    }
  }
}
