@use "../../sizes";
@use "../../mixins";

.sidebar-toggle {
  @include mixins.button-floating;

  bottom: 1em;
  left: 1em;
  z-index: var(--body-zindex-f);
  transition-duration: var(--sidebar-toggle-duration);
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition-property: left, transform;

  @media (min-width: #{calc(sizes.$sidebar-size-threshold-hide + 1px)}) {
    display: none;
  }

  &-center {
    left: 50%;
    transform: translateX(-50%);
  }

  &-expanded {
    display: none;
  }
}
