@use "../../colors";
@use "../../sizes";
@use "../../mixins";

.spotlight-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-width: none; // Override the default main max-width since we want the scrollbar to be global
  height: 100%;
  padding: 0;
  overscroll-behavior-y: contain;
  scrollbar-gutter: stable;

  &-head {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-height: var(--main-size-max-height);
    padding-top: var(--main-size-vpadding);
  }

  &-head, &-bridge {
    width: var(--main-size-max-width);
    max-width: var(--spotlight-size-head-max-width);
  }

  &-bridge {
    --divider-color: var(--menu-group-color-border);
    --divider-size: var(--menu-group-size-border);
    --divider-size-border-radius: 0;
    --divider-size-margin: 0;
  }

  &-aspect-ratio-box-wrapper {
    min-height: 0;
    aspect-ratio: var(--spotlight-size-aspect-ratio);
  }

  &-aspect-ratio-box {
    overflow: hidden; // This is needed to keep the border radius
    max-height: 100%;
    aspect-ratio: var(--spotlight-size-aspect-ratio);
    margin-inline: auto;
    border-top-left-radius: var(--spotlight-size-border-radius);
    border-top-right-radius: var(--spotlight-size-border-radius);
  }

  &-body {
    width: var(--main-size-max-width);
    max-width: sizes.$root-size-max-content-width;
    padding-bottom: var(--main-size-vpadding);
  }
}
