@use "../../colors";
@use "../../sizes";
@use "../../mixins";

.spotlight-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-width: none; // Override the default main max-width since we want the scrollbar to be global
  height: 100%;
  padding: 0;
  overscroll-behavior-y: contain;
  scrollbar-gutter: stable;

  &-head {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-height: var(--main-size-max-height);
    padding-top: var(--main-size-vpadding);
  }

  &-head, &-bridge {
    width: var(--main-size-max-width);
    max-width: var(--spotlight-size-head-max-width);
  }

  &-bridge {
    --divider-border-style: var(--spotlight-divider-style);
    --divider-color: var(--spotlight-color-divider);
    --divider-size: var(--spotlight-size-divider);
    --divider-size-margin: 0;

    background: var(--spotlight-color-background);
  }

  &-aspect-ratio-box-wrapper {
    min-height: 0;
    aspect-ratio: var(--spotlight-size-aspect-ratio);
  }

  &-aspect-ratio-box {
    max-height: 100%;
    aspect-ratio: var(--spotlight-size-aspect-ratio);
    margin-inline: auto;
  }

  &-body {
    width: var(--main-size-max-width);
    max-width: sizes.$root-size-max-content-width;
    padding-bottom: var(--main-size-vpadding);
  }
}
