@import '../../_colors.less';

table,
.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th {
    font-weight: bold;
    text-align: left;
  }

  th,
  td {
    padding: 0.75em 0.25em;
    border-bottom: 1px solid @color-midground;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
  }

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;

    &a {
      cursor: pointer;
    }

    > .icon {
      margin-right: 0.5em;
      fill: black;
    }
  }
}

