@import '../../_vars';

table,
.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th {
    font-weight: bold;
  }

  th,
  td {
    padding: 0.75em 0.25em;
    border-bottom: 1px solid @table-color-border;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
  }

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;

    > .icon {
      margin-right: 0.5em;
      fill: black;
    }
  }

  .pagination-wrapper {
    padding: 0.5em;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .paginator {
      margin: 0;
      padding: 0;
      display: flex;
      text-decoration: none;
      font-weight: 600;

      &.disabled {
        color: @anchor-color-disabled;
        fill: @anchor-color-disabled;
      }

      &.paginator-prev,
      &.paginator-next {
        align-self: center;

        > .icon {
          width: 1.2em;
          height: 1.2em;
        }
      }

      &.paginator-next {
        > .icon {
          transform: scaleX(-1);
        }
      }
    }
  }
}
