@import "../../colors.scss";

.cool-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th {
    font-weight: bold;
    text-align: left;
  }

  th,
  td {
    padding: 0.75em 0.25em;
    border-bottom: 1px solid var(--color-background-accented);
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
  }

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--color-foreground);

    &a {
      cursor: pointer;
    }

    > .icon {
      margin-right: 0.5em;
      fill: var(--color-foreground);
    }

    &:hover,
    &:active,
    &:visited {
      color: var(--color-foreground);

      > .icon {
        fill: var(--color-foreground);
      }
    }
  }
}
