@use "../../sizes";

.wide-navbar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: min-content;
  min-width: sizes.$root-size-sidebar-wide-min-width;

  &-form {
    height: 100%;
  }
}
