@import "../time.scss";
@import "../colors.scss";

.cool-button {
  &:focus {
    outline: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  cursor: pointer;
  padding: 0.75em 1.25em;
  border: 0;
  color: var(--color-background);
  fill: var(--color-foreground);
  background-color: var(--color-foreground);
  transition: $transition-button;

  &:hover {
    color: var(--color-background-accented);
  }

  &.active {
    color: var(--color-foreground);
    fill: var(--color-background);
    background-color: var(--color-background);

    &:hover {
      fill: var(--color-midground);
      background-color: var(--color-midground);
    }
  }

  &[disabled] {
    color: var(--color-midground);
    cursor: not-allowed;
  }
}
