@import "../sizes.scss";
@import "../colors.scss";

code {
  background-color: $color-midground;
  border: $border-width solid $color-dark;
  padding: 0.1rem 0.2rem;

  pre > & {
    display: block;
    padding: 0.5rem 0.75rem;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
