@import '../_vars.less';

code {
  background-color: @code-color-background;
  border: 1px solid @code-color-border;
  padding: 0.1rem 0.2rem;

  pre > & {
    display: block;
    padding: 0.5rem 0.75rem;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
