@use "../fonts";
@use "../sizes";
@use "components/breadcrumb_navigation";
@use "components/icon";
@use "components/interactive_table";
@use "components/loading_indicator";
@use "components/paginator";
@use "components/playground_menu";
@use "components/sidebar";
@use "components/spacer";
@use "components/spotlight_page";
@use "components/vertical_table";
@use "pages/error";
@use "pages/files";
@use "pages/home";
@use "pages/placeholder";
@use "plain/anchor";
@use "plain/article";
@use "plain/body";
@use "plain/button";
@use "plain/code";
@use "plain/control";
@use "plain/field";
@use "plain/heading";
@use "plain/list";
@use "plain/math";
@use "plain/misc";
@use "plain/scroll_shadow";
@use "plain/table";

html {
  font-size: #{sizes.$root-size-base-font};
  font-family: #{fonts.$body-font-family-sans};
  line-height: #{sizes.$root-size-base-line};
}

@include fonts.font-faces;
