@import '../_colors.less';

@import './button.less';
@import './code.less';
@import './section.less';
@import './typography.less';

@import './components/aspect_ratio_box.less';
@import './components/form.less';
@import './components/icon.less';
@import './components/interactive_table.less';
@import './components/link.less';
@import './components/loading_indicator.less';
@import './components/main.less';
@import './components/markdown.less';
@import './components/sidebar.less';
@import './components/sidebar_toggle.less';
@import './components/table.less';

@import './views/error.less';
@import './views/files.less';
@import './views/home.less';
@import './views/unsupported.less';

body {
  margin: 0; // I'm not sure where the original margin comes from
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: @color-background;
  color: @color-foreground;
}

li {
  line-height: 1.75em;
}
