@import '../_vars.less';

body {
  margin: 0; // I'm not sure where the original margin comes from
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: @color-background;
  color: @color-foreground;
}
