@import "../sizes.scss";
@import "../colors.scss";

input, textarea {
  color: var(--color-foreground);
  background-color: var(--color-background-accented);
  border: $border-width solid var(--color-midground);
  padding: 0.5rem 0.75rem;
}
