@import '../time.sass'
@import '../sizes.sass'
@import '../colors.sass'

.cool-select
  width: 100%
  padding: 0.25em
  border: $border-width solid $color-dark
  background-color: transparent

  optgroup
    font-weight: bold
