@import "../time.scss";
@import "../sizes.scss";
@import "../colors.scss";

.cool-select {
  width: 100%;
  padding: 0.25em;
  border: $border-width solid $color-light;
  background-color: transparent;

  optgroup {
    font-weight: bold;
  }
}
