h1#welcome Welcome

p This is a simple personal website - nothing more and nothing less.

h2#aboutme About me
p
  | My name is Ianis Vasilev (pronounce it however you want).
  | For some reason, I am studying statistics at Sofia University.
  | Otherwise I am a relatively sane person.
p
  | I am a programmer with a relatively creative mindset and a saxophonist with an odd style.
h2#aboutthewebsite About the website
p
  | This website contains random stuff that otherwise would be uploaded to other websites.
  | You can move around but there is not much to see.
p That&rsquo;s basically all you need to know.
h2(id='reachmevia:') Reach me via:
ul
  li
    p
      a(href='mailto:mail@ivasilev.net')
        x-fa(name='envelope')
        |  Email
  li
    p
      a(href='https://www.facebook.com/ianis.vasilev')
        x-fa(name='facebook-square')
        |  Facebook
  li
    p
      a(href='https://www.linkedin.com/pub/ianis-vasilev')
        x-fa(name='linkedin')
        |  LinkedIn
  li
    p
      a(href='https://github.com/v--')
        x-fa(name='github')
        |  GitHub
  li
    p
      a(href='http://ianisvasilev.deviantart.com/')
        x-fa(name='deviantart')
        |  deviantART
