h2 These are reveal.js presentations

table(ts-wrapper)
    thead
        tr
            th(ts-criteria="name", ts-default)
                p Name

    tbody
        tr(ng-repeat="slide in paginated", ts-repeat)
            td
                a(target="_self", href, ng-href="{{urls[$index]}}") {{slide | capitalize}}


x-pagination(original="slides", paginated="paginated")
