div.sorting-demo-container: div.sorting-demo
    div.sorting-demo-section: p.sorting-demo-title {{ algorithm.name }}

    div.sorting-demo-section
        Sorter.sorting-demo-subsection(
            v-for="sorter in sorters",
            :period="period",
            :name="sorter.name",
            :algorithm="algorithm",
            :prototype="sorter.prototype"
        )

    div.sorting-demo-section(v-html="algorithm.description")
    div.sorting-demo-section: button(@click="sort") Sort
