div.sorting-sorter
    p.sorting-demo-heading {{ name }}
    div.sorting-demo-lines(:class="{ complete: complete }")
        div(
            v-for="item in array",
            track-by="$index",
            :style="{ width: getWidth(item) }"
        )
