doctype html
html
    head
        script.
            location.replace(Object.hasOwnProperty('assign') ? '/' : '/errors/old');

        include ../_head
        base(href="/")
        link(rel='icon', href='/favicon.ico')
        link(rel='stylesheet', href='/styles/unsupported.css')
        title ivasilev.net :: javascript is not enabled

    body
        h1 JavaScript is not enabled
        h2 Please enable JavaScript in order to view this website
