doctype html
html
    head
        script.
            location.replace(Object.hasOwnProperty('assign') ? '/' : '/errors/old');

        include ../_head
        base(href="/")
        link(rel='stylesheet', href='/styles/unsupported.css', inline)
        title ivasilev.net :: error

    body
        h1 JavaScript is not enabled
        h2 Please enable JavaScript in order to view this website
