doctype html
html
    head
        include ../_head
        base(href="/")
        link(rel='stylesheet', href='styles/unsupported.css', inline)
        title ivasilev.net :: error

    body
        h1 HTTP Error 404
        h2 Not Found
