doctype html
html
    head
        script.
            if (Object.hasOwnProperty('assign')) location.replace('/');

        include ../_nojs
        include ../_head
        base(href="/")
        link(rel='stylesheet', href='/styles/unsupported.css', inline)
        title ivasilev.net :: error

    body
        h1 Outdated browser
        h2 Sorry, this website is too cool for old browsers
