div.sort-demo-section
    div
        p Stable:
        p True

    div
        p Time complexity:
        p
        :katex(displayMode=false)
            \mathcal{O}(n^2)

    div
        p Space complexity:
        :katex(displayMode=false)
            \Theta(1)
