div.sort-demo-section
    div
        p Stable:
        p False

    div
        p Time complexity:
        :katex(displayMode=false)
            \Theta(n^2)

    div
        p Space complexity:
        :katex(displayMode=false)
            \Theta(1)
