@import 'vars';

.sorting-demo-container {
  border-radius: $border-radius;
  background-color: $sorting-demo-container;
  display: inline-block;
  margin: 0 30px 30px 0;

  p {
    margin: 5px auto;
  }

  button {
    width: 100%;
    margin: 5px auto;
  }
}

.sorting-demo {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.sorting-demo-section {
  display: flex;
  justify-content: space-between;
  width: 350px;

  p:first-of-type {
    color: $gray;

    &.sorting-demo-title {
      @include ellipsis();
      font-size: 1.2em;
      color: $sorting-demo-title;
    }
  }
}
