@import '../../_vars.less';

@sorter-bar-color-swapped: @success-color;
@sorter-bar-color-tinted: @danger-color;

.sorter {
  .sorter-bars {
    width: 100px;
    height: 2em;
    display: block;

    .sorter-bar {
      fill: @color-foreground;

      &.swapped {
        fill: @sorter-bar-color-swapped;
      }

      &.tinted {
        fill: @sorter-bar-color-tinted;
      }
    }
  }
}
